---
title: Home
---


<div class="row margin-top">
  <div class="medium-12 columns">
    <div class="panel dark shadow-darker">
      <div class="row">
        <div class="medium-6 columns">
          <h2><strong>Welcome to early-dance.de</strong></h2>
          <h3><em>Join the Early Dance Community !</em></h3>
          <ul>
            <li>Discover exciting balls, performances and classes around the world</li>
            <li>Promote your classes and performances</li>
            <li>Get in touch with other dancers</li>
          </ul>

          <a href="#" class="button large success">Sign up now</a>
        </div>
        <div class="medium-6 columns columns polaroid-container">
          <img class="polaroid deg10 w80" src="http://placekitten.com/300/200" /> 
          <img class="polaroid deg5 w80" src="http://placekitten.com/320/210" /> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="medium-4 columns">
    <div class="panel light">
      <h3>Discover</h3>
      <p>There are more early dance events than you thought! Browse the calendar and discover exciting balls, performances and workshops all around the world.</p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel light">
      <h3>Promote</h3>
      <p>Are you organizing a workshop or a ball? Did you write book, a choreography or a recording suitable for dance? Just register and promote your offer! </p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel light">
      <h3>Get in touch</h3>
      <p>Discover dancing groups near you. Get in touch with other dancers, exchange your ideas, kick off exciting events and share photos and videos.</p>
    </div>
  </div>
</div>

<!-- new section: upcoming events, this and that, recent activity -->
<div class="row margin-top">
  <div class="medium-4 columns">

    <div class="panel">
      <h3>Upcoming events</h3>

      <div class="row">

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/770/550" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/700/500" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/840/600" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/910/650" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/938/670" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/867/650" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/770/550" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        <div class="small-12 large-6 columns">
          <a class="img_hover" href="#">
            <img src="http://placekitten.com/700/500" alt="">
            <div class="img_hover_bg img_fill_box">
            </div>
            <div class="img_hover_text img_fill_box">
              <p>1 Jan - 2 Jan</p>
              <p>Stage de Théâtre baroque et éloquence du corps</p>
            </div>
          </a>
        </div>

        
      </div>
    </div>
  </div> <!-- end of image column -->


  <div class="medium-4 columns">

    <div class="panel">
      <h3>Recent activity</h3>

      <div class="activities">
        <div class="row">
          <a href="#" >
            <div class="medium-3 columns ">
              <img class="ac-image" src="http://placekitten.com/50/50" alt="">
            </div>
            <div class="medium-9 columns ac-content">
              <p>Stefan created a workshop "ahaahaha"</p>
              <div>3 hours ago</div>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="#" >
            <div class="medium-3 columns ">
              <img class="ac-image" src="http://placekitten.com/55/55" alt="">
            </div>
            <div class="medium-9 columns ac-content">
              <p>Stefan created a workshop "ahaahaha"</p>
              <div>3 hours ago</div>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="#" >
            <div class="medium-3 columns ">
              <img class="ac-image" src="http://placekitten.com/55/55" alt="">
            </div>
            <div class="medium-9 columns ac-content">
              <p>Stefan created a workshop "ahaahaha"</p>
              <div>3 hours ago</div>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="#" >
            <div class="medium-3 columns ">
              <img class="ac-image" src="http://placekitten.com/55/55" alt="">
            </div>
            <div class="medium-9 columns ac-content">
              <p>Stefan created a workshop "ahaahaha"</p>
              <div>3 hours ago</div>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="#" >
            <div class="medium-3 columns ">
              <img class="ac-image" src="http://placekitten.com/60/60" alt="">
            </div>
            <div class="medium-9 columns ac-content">
              <p>Stefan created a workshop "ahaahaha"</p>
              <div>3 hours ago</div>
            </div>
          </a>
        </div>

      </div> <!-- end of activities -->

    </div>
  </div><!-- end of Recent activities -->

  <div class="medium-4 columns">

    <div class="panel">
      <h3>Featured article</h3>
      <img src="http://placekitten.com/952/680" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vitae nihil fugiat ad commodi. Fugiat quod, sapiente ullam debitis eius, eos illum minus, temporibus ut, neque dolore hic nihil obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores cumque asperiores fuga, necessitatibus delectus error praesentium, eius veritatis, possimus fugiat impedit quo provident repudiandae unde eos tempora. </p>
    </div>


    
  </div>



