---
title: Home
---


<div class="row margin-top">
  <div class="medium-12 columns">
    <div class="panel dark shadow-darker">
      <div class="row">
        <div class="medium-6 columns">
          <h2><strong>Welcome to early-dance.de</strong></h2>
          <h3><em>Join the Early Dance Community !</em></h3>
          <ul>
            <li>Discover exciting balls, performances and classes around the world</li>
            <li>Get in touch with other dancers</li>
            <li>Promote your classes and performances</li>
          </ul>

          <a href="#" class="button large success">Sign up now</a>
        </div>
        <div class="medium-5 columns polaroid-container">
          <img class="polaroid deg10 w80" src="http://placekitten.com/300/200" /> 
          <img class="polaroid deg5 w80" src="http://placekitten.com/320/210" /> 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="medium-4 columns">
    <div class="panel light">
      <h3>test</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quis, nostrum, voluptatibus nam neque nulla mollitia sed aliquid rerum dolorem explicabo voluptas asperiores distinctio provident modi unde excepturi dicta consectetur!</p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel light">
      <h3>test</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quis, nostrum, voluptatibus nam neque nulla mollitia sed aliquid rerum dolorem explicabo voluptas asperiores distinctio provident modi unde excepturi dicta consectetur!</p>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel light">
      <h3>test</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quis, nostrum, voluptatibus nam neque nulla mollitia sed aliquid rerum dolorem explicabo voluptas asperiores distinctio provident modi unde excepturi dicta consectetur!</p>
    </div>
  </div>
</div>

<div class="row">
  <h2 class="medium-12 columns">Upcoming events</h2>
</div>

<div class="row margin-top">
  <div class="medium-3 columns">
    <a class="img_hover" href="#">
      <img src="http://placekitten.com/400/300" alt="">
      <div class="img_hover_text">
        <p>1 Jan - 2 Jan</p>
        <p>Stage de Théâtre baroque et éloquence du corps</p>
      </div>
    </a>
  </div>
  <div class="medium-3 columns">
    <div><img src="http://placekitten.com/400/300" alt=""></div>
  </div>
  <div class="medium-3 columns">
    <div><img src="http://placekitten.com/400/300" alt=""></div>
  </div>
  <div class="medium-3 columns">
    <div><img src="http://placekitten.com/400/300" alt=""></div>
  </div>
</div>

<div class="row">
  <h2 class="medium-12 columns">Upcoming events</h2>
</div>

<div class="row margin-top">
  <div class="medium-2 columns">
    <div><img src="http://placekitten.com/300/200" alt=""></div>
  </div>
  <div class="medium-2 columns">
    <div><img src="http://placekitten.com/300/200" alt=""></div>
  </div>
  <div class="medium-2 columns">
    <div><img src="http://placekitten.com/300/200" alt=""></div>
  </div>
  <div class="medium-2 columns">
    <div><img src="http://placekitten.com/300/200" alt=""></div>
  </div>
  <div class="medium-2 columns">
    <div><img src="http://placekitten.com/300/200" alt=""></div>
  </div>
  <div class="medium-2 columns">
    <div><img src="http://placekitten.com/300/200" alt=""></div>
  </div>
</div>

