<footer class="page-footer">

  <div class="clearfix">

    <div class="left">
      <ul class="inline-list">
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Choreos</a></li>
      </ul>
    </div>

    <div class="right">
      <ul class="inline-list">
        <li><a href="#">Impressum</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

  </div>

</footer>
