
// linked image thumbnails, that show a hover text
a.img_hover {
  position: relative;
  display: block;

  // hover effects 
  &:hover > .img_hover_text {
    opacity: 0.0;
  }

  &:hover > .img_hover_bg {
    opacity: 0.0;
  }

  // positioning element fill the full available space 
  & > .img_fill_box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  // properties of the grey background
  & > .img_hover_bg {
    background-color: #444;
    opacity: 0.55;
    @include transition(all, 0.3s);
  }
  // properties of the text 
  & > .img_hover_text {
    padding: 1em;
    color: #eee;
    @include transition(all, 0.3s);
    p {
      font-weight: bold;
    }
  }
}


// 2nd version
a.img_hover2 {
  position: relative;
  display: block;
  overflow: hidden;

  &:hover > .img_hover_text {
    top: 0;
  }

  & > .img_hover_text {
    position: absolute;
    top: 55%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0.25em 0.5em;
    background-color: #006687;
    opacity: 0.7;
    @include transition(all, 0.3s);

    p {
      font-size: 85%;
      font-weight: bold;
      color: white;
    }
  }

}